p {
  font-weight: bold;
}

.border-resume {
  border: 2px solid black;
  padding: 10px;
  box-shadow: 3px 5px;
}

.column-one {
  border-right: 1px solid;
  padding-right: 5px;
}

.column-two {
  border-right: 1px solid;
  padding-right: 5px;
}

.column-three {
  border-right: 1px solid;
  padding-right: 5px;
}

hr {
  border: 3px solid rgb(167, 235, 31);
}

td,
th {
  padding: 8px;
  text-align: center;
}

.table-two {
  width: 100%;
}

h3 {
  text-decoration: underline;
}

.section-border {
  border-style: dotted;
  padding-left: 10px;
}
